---
layout: default
title : Homepage
navbar_title: Home
num_selected: 10
---
{% include widgets/profile_card.html %}

{% include widgets/url_debug_message.html %}

{% if site.data.display.homepage.show_experience %}
{% include widgets/experience_card.html %}
{% endif %}

{% if site.data.display.homepage.show_news %}
{% assign count_news = site.news | size %}
{% if count_news > 0 %}
{% include widgets/news_card.html %}
{% endif %}
{% endif %}

{% if site.data.display.homepage.show_selected_publications %}
{% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
{% 
    include widgets/publication_card.html 
    publications=pubs limit=page.num_selected 
    title='<i class="fas fa-star"></i> Selected Publications'
%}
{% endif %}

	<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=nhXr53cplJvMh6kfz7U583oPqd2tnJ_VXqMonENCoBE&cl=ffffff&w=300"></script> 
  <meta charset="utf-8">
        <script src="http://code.jquery.com/jquery.min.js"></script>
  
        <div id="content"></div>

		<script>
		$(document).ready(function() {
			myData = {} ;  // just to be able to introspect the data on the console (global var)
			$.getJSON('list.json', function(data)
				{
					console.log(data);
					myData = data;  // dito
					for(var i in data.users) {
						item = data.users[i];
				        // $("#content").append(item)
				        $("<div/>", {
				            id: i,
				            text: item,
				            onClick: "console.log('you clicked "+item+"')"
				        }).appendTo("#content");
					}
				});
		});
		</script>
